<template>
  <CommonLoader :color="'primary'" />
</template>

<script>
  import CommonLoader from '@/components/commonComponents/CommonLoader';
  export default {
    name: 'Loaders',
    components: {
      CommonLoader
    },
  };
</script>

<style scoped lang="scss"></style>