<template>
  <div class="container">
    <h2 class="center">Tooltips</h2>
    <CommonTooltips/>
  </div>
</template>

<script>
  import CommonTooltips from '@/components/commonComponents/CommonTooltips';
  export default {
    name: 'Tooltips',
    components: {
      CommonTooltips
    },
  };
</script>

<style scoped lang="scss"></style>