<template>
  <div class="container">
    <h2 class="center">Tables</h2>
    <CommonTables/>
  </div>
</template>

<script>
  import CommonTables from '@/components/commonComponents/CommonTables';
  export default {
    name: 'Tables',
    components: {
      CommonTables
    },
  };
</script>
