<template>
  <div class="container">
    <h2 class="center">Selects</h2>
    <CommonSelect
        label="Со строкой поиска"
        :items="items1"
    />
    <br><br>
    <CommonSelect
        extra-label="Extra label"
        label="Label"
        :items="items2"
    />
  </div>
</template>

<script>
  import CommonSelect from '@/components/commonComponents/CommonSelects';
  export default {
    name: 'Selects',
    components: {
      CommonSelect
    },
    data () {
      return {
        items1: [
          {
            value: 'San Francisco'
          },
          {
            value: 'New York'
          },
          {
            value: 'Seattle'
          },
          {
            value: 'Los Angeles'
          },
          {
            value: 'Chicago'
          }
        ],
        items2: [
          {
            value: 0,
            title: 'Zero',
            selected: true
          },
          {
            value: 1,
            title: 'One'
          },
          {
            value: 2,
            title: 'Two'
          },
          {
            value: 3,
            title: 'Three'
          }
        ]
      };
    }
  };
</script>

<style scoped lang="scss"></style>