<template>
  <div
      class="d-flex "
      :class="[hasColor, centerCenter]"
  >
    <div
        :class="loaderDefault ? 'spinner-border' : 'spinner-grow'"
        role="status"
    >
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'CommonLoader',
    props: {
      loaderDefault: {
        type: Boolean,
        default: true
      },
      color: {
        type: String,
        default: ''
      },
      center: {
        type: Boolean,
        default: true
      }
    },
    computed: {
      hasColor () {
        /**
         * https://getbootstrap.com/docs/5.0/components/spinners/
         * Классы, которые можно использовать:
         * primary
         * secondary
         * success
         * danger
         * info
         * light
         * dark
         */
        if (['primary', 'secondary', 'success', 'danger', 'info', 'light', 'dark'].includes(this.color)) {
          return 'text-' + this.color;
        } else if (this.color === undefined) {
          return ''
        } else {
          return this.color
        }
      },
      centerCenter () {
        return this.center ? 'justify-content-center align-items-center' : ''
      }
    }
  };
</script>

<style scoped lang="scss"></style>