<template>
  <label class="form-label">
    {{label}}
    <span
      v-if="required"
      v-html="'*'"
      class="text-danger"
    />
  </label>

  <textarea
    v-if="!extraLabel"
    class="form-control"
    :class="{
      'is-valid': isValid,
      'is-invalid': isError
    }"
    name="textarea"
    :value="value"
    :disabled="disabled"
    :readonly="readonly"
    :maxlength="maxlength"
    :placeholder="placeholder"
    :required="required"
    :wrap="wrap"
    :data-qa="dataQa"
    @input="$emit('input', $event.target.value)"
    @focus="$emit('focus', $event.target.value)"
    @blur="$emit('blur', $event.target.value)"
  />
  <div v-else class="form-floating">
    <textarea
        class="form-control"
        :class="{
          'is-valid': isValid,
          'is-invalid': isError
        }"
        id="floatingTextarea"
        name="textarea"
        :value="value"
        :disabled="disabled"
        :readonly="readonly"
        :maxlength="maxlength"
        :placeholder="placeholder"
        :required="required"
        :wrap="wrap"
        :data-qa="dataQa"
        @input="$emit('input', $event.target.value)"
        @focus="$emit('focus', $event.target.value)"
        @blur="$emit('blur', $event.target.value)"
    />
    <label for="floatingTextarea">{{extraLabel}}</label>
  </div>
</template>

<script>
  export default {
    name: 'CommonTextarea',
    props: {
      label: {
        type: String,
        default: ''
      },
      extraLabel: {
        type: String,
        default: ''
      },
      value: {
        type: String,
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      },
      readonly: {
        type: Boolean,
        default: false
      },
      required: {
        type: Boolean,
        default: false
      },
      maxlength: {
        type: Number,
        default: 8360
      },
      placeholder: {
        type: String,
        default: ''
      },
      wrap: {
        type: String,
        default: 'hard' // soft | hard | off
      },
      isValid: {
        type: Boolean,
        default: false
      },
      isError: {
        type: Boolean,
        default: false
      },
      dataQa: {
        type: String
      }
    }
  };
</script>