<template>
  <div class="container">
    <h2 class="center">Buttons</h2>
    <div class="row align-items-start">
      <div class="col">
        Columns 1
      </div>
      <div class="col">
        Columns 2
      </div>
      <div class="col">
        Columns 3
      </div>
      <div class="col">
        Columns 4
      </div>
    </div>
    <div class="row align-items-start">
      <div class="col">
        <CommonButtons
            text="button 1"
            subclass="primary"
            @click="onClick"
            icon="archive"
        />
      </div>
      <div class="col">
        <CommonButtons
            text="button 2"
            subclass="success test-class-for-button"
            @click="onClick"
            :reverse="true"
            :disabled="true"
            :loader="true"
            icon="ambulance"
        />
      </div>
      <div class="col">
        <CommonButtons
            text="button 3"
            subclass="warning"
            :loader="true"
            :loader-default="false"
            :loader-color="'danger'"
            @click="onClick"
        />
      </div>
      <div class="col">
        <CommonButtons
            :close="true"
            @click="onClick"
        />
      </div>
    </div>


  </div>
</template>

<script>
  import CommonButtons from '@/components/commonComponents/CommonButton';
  export default {
    name: 'Buttons',
    components: {
      CommonButtons
    },
    methods: {
      onClick () {
        alert('Нажатие на кнопку')
      }
    }
  };
</script>

<style scoped lang="scss">
  .test-class-for-button {
    color: #000000 !important;
  }
</style>