<template>
  <div class="container">
    <h2 class="center">Tabs</h2>
    <CommonTabs/>
  </div>
</template>

<script>
  import CommonTabs from '@/components/commonComponents/CommonTabs';
  export default {
    name: 'Tabs',
    components: {
      CommonTabs
    },
  };
</script>

<style scoped lang="scss"></style>