<template>
  <div class="container">
    <h2 class="center">Textarea</h2>
    <CommonAlert
      text="Без иконки и тайтла"
      subclass="primary"
    />
    <CommonAlert
        title="Просто тайтл"
        text="... и какой-то текст"
        subclass="secondary"
    />
    <CommonAlert
        text="Без тайтла и с иконкой"
        icon="archive"
        subclass="success"
    />
    <CommonAlert
        title="Тайтла"
        text="... с иконкой и текстом"
        icon="archive"
        subclass="danger"
    />
    <CommonAlert
        title="Тайтла"
        text=" с иконкой и текстом"
        addText="плюс дополнительное поле"
        icon="archive"
        subclass="info"
    />
    <CommonAlert subclass="dark">
      <template v-slot:default>
        <div>
          Сделано через слоты. Посмотреть можно
          <a
            href="https://getbootstrap.com/docs/5.0/components/alerts/"
            class="alert-link"
            target="_blank"
          >по ссылке</a>.
          Официальный сайт Bootstrap 5.
        </div>
      </template>
    </CommonAlert>
  </div>
</template>

<script>
  import CommonAlert from '@/components/commonComponents/CommonAlert';
  export default {
    name: 'Alerts',
    components: {
      CommonAlert
    }
  };
</script>
