<template>
  <div
      class="alert d-flex align-items-center"
      :class="['alert-' + subclass]"
      role="alert"
  >
    <fa
      v-if="icon"
      :icon="['fas', icon]"
      class="icon alt bi bi-exclamation-triangle-fill flex-shrink-0 me-2"
      width="24"
      height="24"
      fill="currentColor"
    />
    <div>
      <h4 class="alert-heading">{{title}}</h4>
      <p>{{text}}</p>
      <hr v-if="addText">
      <p class="mb-0">{{addText}}</p>
    </div>
    <slot></slot>
  </div>
</template>

<script>
  export default {
    name: 'CommonAlert',
    props: {
      /**
       * https://getbootstrap.com/docs/5.0/components/alerts/
       * Классы, которые можно использовать:
       * primary
       * secondary
       * success
       * danger
       * info
       * light
       * dark
       */
      subclass: {
        type: String,
        default: 'light' // todo - доработать в дальнейшем возможность принмать класс, в случае если он не нужен или нужен другой подкласс
      },
      icon: {
        type: String,
        default: '' // todo - доработать в дальнейшем возможность принмать массив или строку ambulance
      },
      title: {
        type: String,
        default: ''
      },
      text: {
        type: String,
        default: ''
      },
      addText: {
        type: String,
        default: ''
      }
    }
  };
</script>

<style scoped lang="scss"></style>