<template>
  <div
    class="form-check"
    :class="[{'form-switch': switcher}]"
  >
    <input
      class="form-check-input"
      type="checkbox"
      :disabled="disabled"
      :checked="value"
      :tabindex="disabled ? -1 : 0"
      :data-qa="dataQa"
      @change="$emit('change', $event.target.checked)"
    >
    <label class="form-check-label">
      {{label}}
    </label>
  </div>
</template>

<script>
  export default {
    name: 'CommonCheckbox',
    props: {
      label: {
        type: String,
        default: ''
      },
      value: {
        type: Boolean,
        default: false
      },
      disabled: {
        type: Boolean,
        default: false
      },
      switcher: {
        type: Boolean,
        default: false
      },
      dataQa: {
        type: String
      }
    },
  };
</script>

<style scoped lang="scss"></style>