<template>
  <label
      for="exampleDataList"
      class="form-label"
  >
    {{label}}
    <span
        v-if="required"
        v-html="'*'"
        class="text-danger"
    />
  </label>

  <template v-if="!extraLabel">
    <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search...">
    <datalist id="datalistOptions">
      <option
          v-for="(item, index) in items"
          :key="item.value || index"
          :value="item.value || index"
      />
    </datalist>
  </template>

  <div v-else class="form-floating">
    <select
        class="form-select"
        id="floatingSelectGrid"
        :class="{
          'is-valid': isValid,
          'is-invalid': isError
        }"
        :disabled="disabled"
        :multiple="multiple"
    >
      <option
          v-for="(item, index) in items"
          :key="item.value || index"
          :value="item.value || index"
          :selected="item.selected"
      >
        {{item.title || item.value}}
      </option>
    </select>

    <label
        for="floatingSelectGrid"
    >
      {{extraLabel}}
    </label>
  </div>
</template>

<script>
  export default {
    name: 'CommonSelects',
    props: {
      label: {
        type: String,
        default: ''
      },
      required: {
        type: Boolean,
        default: false
      },
      items: {
        type: Array,
        default: () => []
      },
      extraLabel: {
        type: String,
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      },
      multiple: {
        type: Boolean,
        default: false
      },
      isValid: {
        type: Boolean,
        default: false
      },
      isError: {
        type: Boolean,
        default: false
      },
    }
  };
</script>

<style scoped lang="scss"></style>