<template>
  <div class="nav">
    <div class="nav-logo">
      <img alt="Vue logo" src="@/assets/logo.png">
    </div>
    <div class="nav-description">
      <h2>Содерждание:</h2>
      <ul class="nav-description__list">
        <li
          v-for="link in links"
          :key="link.path"
        >
          <router-link :to="link.path">
            {{link.title}}
          </router-link>
        </li>
      </ul>

    </div>

  </div>
</template>

<script>
  export default {
    name: 'Home',
    setup () {
      const links = [
        {
          path: 'alerts',
          title: 'Alerts'
        },
        {
          path: 'tables',
          title: 'Таблицы'
        },
        {
          path: 'modals',
          title: 'Модальные окна'
        },
        {
          path: 'buttons',
          title: 'Кнопки'
        },
        {
          path: "/tooltips",
          title: "Тултипы и подсказки"
        },
        {
          path: "/textarea",
          title: "Текстариа"
        },
        {
          path: "/inputs",
          title: "Инпуты"
        },
        {
          path: "/tabs",
          title: "Табсы"
        },
        {
          path: "/switchers",
          title: "Переключател"
        },
        {
          path: "/selects",
          title: "Выпадашки"
        },
        {
          path: "/loaders",
          title: "Лоадеры и загрузки"
        }
      ];
      return {
        links
      };
    }
  };
</script>

<style scoped lang="scss">
  @import "src/static/css/variables";
  .nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    &-description {
      border-left: 8px solid $green;
      padding-left: 8px;
      position: fixed;
      right: 128px;
      &__list {
        list-style: none;
        padding-left: 16px;
        li {
          a {
            text-decoration: none;
            color: $green;
            &:hover {
              color: $red;
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
</style>