<template>
  <div
      class="modal fade"
      :class="{show: display}"
      :style="{'display': display ? 'block' : 'none'}"
      data-bs-backdrop="static"
      data-bs-keyboard="false"
      tabindex="-1"
      aria-labelledby="staticBackdropLabel"
      aria-hidden="true"
      role="dialog"
  >
    <div :class="['modal-dialog', size]">
      <div class="modal-content">
        <div class="modal-header">
          <h5
              class="modal-title"
              id="staticBackdropLabel"
          >
            {{title}}
          </h5>
          <button
              ref="close"
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
              @click="close"
          />
        </div>
        <div class="modal-body">
          <slot/>
        </div>
        <div class="modal-footer">
          <button
              v-if="closeButtonShow"
              :disabled="closeButtonDisabled"
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
              @click="close"
          >
            {{ closeButtonTitle }}
          </button>
          <button
              v-if="eventButtonShow"
              :disabled="eventButtonDisabled"
              type="button"
              class="btn btn-primary"
              @click="$emit('submit')"
          >
            {{ eventButtonTitle }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div :class="{'modal-backdrop fade show': display}"></div>
</template>

<script>
  export default {
    name: 'CommonModal',
    props: {
      size: {
        /**
         * Название классов и размеры по длине
         * .modal-sm	300px
         * .modal-lg	800px
         * .modal-xl	1140px
         * по дефолту 500px
         */
        type: String,
        default: ''
      },
      title: {
        type: String,
        default: ''
      },
      closeButtonTitle: {
        type: String,
        default: 'Закрыть'
      },
      closeButtonShow: {
        type: Boolean,
        default: true
      },
      closeButtonDisabled: {
        type: Boolean,
        default: false
      },
      eventButtonTitle: {
        type: String,
        default: 'Сохранить'
      },
      eventButtonShow: {
        type: Boolean,
        default: true
      },
      eventButtonDisabled: {
        type: Boolean,
        default: false
      },
    },
    data () {
      return {
        display: false
      };
    },
    methods: {
      open () {
        this.display = true;
      },
      close () {
        this.display = false;
      }
    }
  };
</script>
