<template>
  <div class="container">
    <h2 class="center">Switchers</h2>
    <div class="row">
      <p class="h4">Checkboxes</p>
      <CommonCheckbox label="Checkbox 1"/>
      <CommonCheckbox label="Checkbox 2" :value="true"/>
      <CommonCheckbox label="Checkbox 3" :value="true" :disabled="true"/>
      <CommonCheckbox label="Checkbox 4" :value="false" :disabled="true"/>
    </div>
    <div class="row">
      <p class="h4">Radio buttons</p>
      <CommonRadio
        v-for="(item, index) in items"
        :key="index"
        :label="item.label"
        :value="item.value"
        :modelValue="model"
        v-model="model"
      />
    </div>
    <div class="row">
      <h2 class="center">Switchers</h2>
      <CommonCheckbox label="Switcher 1" :value="true" :switcher="true"/>
      <CommonCheckbox label="Switcher 2" :value="false" :disabled="true" :switcher="true"/>
    </div>
  </div>
</template>

<script>
  import CommonCheckbox from '@/components/commonComponents/CommonCheckbox';
  import CommonRadio from '@/components/commonComponents/CommonRadio';
  export default {
    name: 'Switchers',
    components: {
      CommonCheckbox,
      CommonRadio
    },
    data () {
      // todo проверить и решить вопрос с радио-баттоном
      return {
        model: '',
        items: [
          {
            label: 'Radio 1',
            value: 1
          },
          {
            label: 'Radio 2',
            value: 2
          },
          {
            label: 'Radio 3',
            value: 3
          }
        ]
      };
    }
  };
</script>