@import "variables";

html, body {
	width: 100%;
	height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  cursor: pointer;
  &:hover {
    text-decoration: underline;
  }
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $navy-blue;
  .green {
    color: $green;
  }
  .red {
    color: $red;
  }
  .container {
    padding: 8px;
  }
  .center {
    text-align: center;
  }
}