<template>
  <div class="form-check">
    <input
      class="form-check-input"
      type="radio"
      :checked="modelValue === value"
      :value="value"
      :disabled="disabled"
      :tabindex="disabled ? -1 : 0"
      :data-qa="dataQa"
      @change="$emit('change', value)"
    >
    <label class="form-check-label">
      {{label}}
    </label>
  </div>
</template>

<script>
  export default {
    name: 'CommonRadio',
    props: {
      value: {
        type: [String, Number, Boolean],
        required: true
      },
      modelValue: {
        type: [String, Number, Boolean],
        default: () => ''
      },
      label: {
        type: String,
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      },
      dataQa: {
        type: String
      }
    }
  };
</script>

<style scoped lang="scss"></style>