<template>
  <button
      type="button"
      class="btn"
      :class="[
        'btn-' + subclass,
        {
          'reverse': reverse,
          'btn-close': close
        }
      ]"
      :disabled="disabled"
      @click="$emit('click')"
  >
    <span
        v-if="loader"
        class="loader"
        :class="[
          loaderDefault ? 'spinner-border spinner-border-sm' : 'spinner-grow spinner-grow-sm',
          'text-' + loaderColor
        ]"
        role="status"
        aria-hidden="true"
    />
    <span>{{text}} </span>
    <fa v-if="icon" :icon="['fas', icon]" class="icon alt"/>
  </button>
</template>

<script>
  export default {
    name: 'CommonButtons',
    props: {
      text: {
        type: String,
        default: ''
      },
      /**
       * https://getbootstrap.com/docs/5.0/components/buttons/
       * Классы, которые можно использовать:
       * primary
       * secondary
       * success
       * danger
       * info
       * light
       * dark
       * link
       */
      subclass: {
        type: String,
        default: '' // todo - доработать в дальнейшем возможность принмать класс, в случае если он не нужен или нужен другой подкласс
      },
      disabled: {
        type: Boolean,
        default: false
      },
      reverse: {
        type: Boolean,
        default: false
      },
      /**
       * https://fontawesome.com/v5.15/icons?d=gallery&p=2&m=free
       */
      icon: {
        type: String,
        default: '' // todo - доработать в дальнейшем возможность принмать массив или строку
      },
      close: {
        type: Boolean,
        default: false
      },
      loader: {
        type: Boolean,
        default: false
      },
      loaderDefault: {
        type: Boolean,
        default: true
      },
      /**
       * https://getbootstrap.com/docs/5.0/components/spinners/
       * Классы, которые можно использовать:
       * primary
       * secondary
       * success
       * danger
       * info
       * light
       * dark
       */
      loaderColor: {
        type: String,
        default: 'dark'
      }
    }
  };
</script>

<style scoped lang="scss">
  .reverse {
    flex-direction: row-reverse;
    display: flex;
    align-items: center;
    svg {
      margin-right: 4px;
    }
  }
  .loader {
    margin: 0 4px;
  }
</style>