<template>
  <div class="bread-crumbs">
    <a @click="$router.push('/')" class="red">Главная страница</a> / {{ $route.name ? $route.name : '..' }}
  </div>
</template>

<script>
  export default {
    name: 'BreadCrumbs'
  };
</script>

<style lang="scss">
  .bread-crumbs {
    font-size: 18px;
    padding: 8px;
  }
</style>