<template>
  <div class="container">
    <h2 class="center">Inputs</h2>
    <CommonInputs
        label="My label is ..."
        placeholder="placeholder"
    />
  </div>
</template>

<script>
  import CommonInputs from '@/components/commonComponents/CommonInputs';
  export default {
    name: 'Inputs',
    components: {
      CommonInputs
    },
  };
</script>

<style scoped lang="scss"></style>