<template>
  <div>CommonTables</div>
  <button type="button" class="btn btn-primary">Primary</button>
</template>

<script>
  export default {
    name: 'CommonTables'
  };
</script>

<style scoped lang="scss"></style>