<template>
  <div class="container">
    <h2 class="center">Textarea</h2>
    <CommonTextarea
        label="application"
        :value="foo"
        required
    />
  </div>
</template>

<script>
  import CommonTextarea from '@/components/commonComponents/CommonTextarea';
  export default {
    name: 'Textarea',
    components: {
      CommonTextarea
    },
    data () {
      return {
        foo: 'Bla bla car'
      };
    },
  };
</script>

<style scoped lang="scss"></style>