<template>
  <div class="container">
    <h2 class="center">Modals</h2>
    <CommonButton
      text="Открыть модалку"
      subclass="warning"
      @click="$refs['modal'].open()"
    />
    <CommonModal
      ref="modal"
      title="Создание"
    >
      <template v-slot:default>
        Some text
      </template>
    </CommonModal>
  </div>
</template>

<script>
  import CommonButton from '@/components/commonComponents/CommonButton';
  import CommonModal from '@/components/commonComponents/CommonModal';
  export default {
    name: 'Modals',
    components: {
      CommonButton,
      CommonModal
    }
  };
</script>

<style scoped lang="scss"></style>