<template>
  <bread-crumbs/>
  <router-view/>
</template>

<script>
import BreadCrumbs from '@/components/BreadCrumbs.vue';

export default {
  name: 'App',
  components: {
    BreadCrumbs
  },
}
</script>