<template>
  <div class="mb-3 position-relative">
    <label
        for="exampleFormControlInput1"
        class="form-label"
    >
      {{label}}
      <span
          v-if="required"
          v-html="'*'"
          class="text-danger"
      />
    </label>
    <div v-if="!secondaryLabel" class="input-group">
      <span
          v-if="icon || info"
          @click="$emit('leftClick')"
          class="input-group-text"
      >
        <span>{{info}}</span>
        <fa v-if="icon" :icon="['fas', icon]" class="icon alt"/>
      </span>
      <input
          :type="type"
          class="form-control"
          :class="[
            subclass,
            {
              'is-valid': isValid,
              'is-invalid': isError
            }
          ]"
          id="exampleFormControlInput1"
          :placeholder="placeholder"
          :disabled="disabled"
          :readonly="readonly"
          :hidden="hidden"
          :data-qa="dataQa"
          @input="$emit('input', $event.target.value)"
          @focus="$emit('focus', $event.target.value)"
          @blur="$emit('blur', $event.target.value)"
      >
      <span
          v-if="preIcon || preInfo"
          @click="$emit('rightClick')"
          class="input-group-text"
      >
        <span>{{preInfo}}</span>
        <fa
            v-if="preIcon"
            :icon="['fas', preIcon]"
            class="icon alt"
        />
      </span>
    </div>

    <div v-else class="form-floating">
      <input
          :type="type"
          class="form-control"
          :class="[
            subclass,
            {
              'is-valid': isValid,
              'is-invalid': isError
            }
          ]"
          id="exampleFormControlInput2"
          :placeholder="placeholder"
          :disabled="disabled"
          :readonly="readonly"
          :hidden="hidden"
          :data-qa="dataQa"
          @input="$emit('input', $event.target.value)"
          @focus="$emit('focus', $event.target.value)"
          @blur="$emit('blur', $event.target.value)"
      >
      <label for="exampleFormControlInput2" class="form-label">{{secondaryLabel}}</label>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'CommonInputs',
    props: {
      label: {
        type: String,
        default: ''
      },
      secondaryLabel: {
        type: String,
        default: ''
      },
      type: {
        type: String,
        default: ''
      },
      subclass: {
        type: String,
        default: ''
      },
      placeholder: {
        type: String,
        default: ''
      },
      disabled: {
        type: Boolean,
        default: false
      },
      readonly: {
        type: Boolean,
        default: false
      },
      required: {
        type: Boolean,
        default: false
      },
      icon: {
        type: String,
        default: ''
      },
      info: {
        type: String,
        default: ''
      },
      preInfo: {
        type: String,
        default: ''
      },
      preIcon: {
        type: String,
        default: ''
      },
      isValid: {
        type: Boolean,
        default: false
      },
      isError: {
        type: Boolean,
        default: false
      },
      hidden: {
        type: Boolean,
        default: false
      },
      dataQa: {
        type: String
      }
    }
  };
</script>